body{
padding:0;
margin:0;
background-color:lavender;

}


/* Container */
.container{
width:80%;
height: auto;
margin:auto;
overflow:hidden;
min-width: 650px;

}
.inContainer {
width:80%;
height: 300px;
margin:auto;
overflow:hidden;
}
.font-container{
margin:auto;
max-width: 200px;
max-height: 100px;
background: white;

}
ul{
margin:0;
padding:0;
list-style-type: none;
}
/* Header */
header{
background: bisque;
padding-top:30px;
min-height:70px;
max-height: 50px;
border-bottom:brown 3px solid;
}
header a{
color:black;
text-decoration:none;
text-transform: uppercase;
font-size:16px;
}

header li{
float:left;
display:inline;
padding: 0 20px 0 20px;
}
header #moveMiddle{
float:left;
}

header #moveMiddle h1{
margin:0;
}
header nav{
float:right;
margin-top:10px;
}
.currentPage a{
color:brown;
font-weight:bold;
}

header a:hover{
color:black;
font-weight:bold;
}

/* Showcase */
#showcase{
background-image: url('../images/showcase.jpg');
background-repeat: no-repeat;
background-size: cover;
text-align: center;
font-style: oblique;
width: 100%;
height: 300px;


}
#showcase h1{
margin-top:200px;
color: bisque;
background-color: darkred;
}
/* Protection */
#Protection{
margin-top:20px;


}
#Protection .col1{
float:left;
text-align: center;
width:20%;
margin-right: 5%;

}
#Protection .col2{
float:left;
text-align: center;
width:20%;
margin-right: 5%;

}
#Protection .col3{
float:left;
text-align: center;
width:20%;
margin-right: 5%;

}
#Protection .col4{
float:left;
text-align: center;
width:20%;
margin-right: 5%;

}
.brownOut{
color: brown;
}



footer{
padding:20px;
margin-top:20px;
background: darkred;
}

/* about */



.about {
    margin-top:40px;
    height: auto;
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr;


  }

  .miles {
    margin-top:40px;
  }


  /* hats */
  main {
    text-align: center;
  }



  #names .grid{
    margin:auto;
    margin-top:20px;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
  /* designs */
  .fotorama{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
    /* contact */
    #contact .info{
    margin:auto;
    margin-top:20px;
    height: auto;
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 2rem;
    }
    a{
    text-decoration: none;
    color: black;

  }
  a:hover{
  color: blue;
  }


  .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
  }


  .fa:hover {
      opacity: 0.7;
  }




  .fa-facebook {
      background: #3B5998;
      color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }


  .fa-youtube {
    background: #bb0000;
    color: white;
  }
